.productDetailHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 1rem 2rem;
  p{
    font-size: 1rem;
    font-weight: 700;
  }
}

.goBack, .options{
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 12px;
  font-size: 24px;
  background: white;
  text-align: center;
  justify-content: center;
  align-items: center;
}
