@import '@/styles/_variables.scss';
@import '@/styles/_mixins.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.burgerMenu{
  cursor: pointer;
  background-color: white;
  height: 40px;
  width: 40px;
  @include flex-center;
  border-radius: 12px;
}

.profilePic{
  width: 40px;
  height: auto;
  border-radius: 50%;
}